@model TopicModel
@if (!Model.IsPasswordProtected)
{
    <div class="row">
        <div class="col-md-4 sidebar sq-simple-menu">
            @await Component.InvokeAsync(typeof(TopicBlockViewComponent), new { systemName = "MenuCompanyPolicy" })
        </div>
        <div class="col-md-8">
            @if (!string.IsNullOrEmpty(Model.Title)) {
                <h1 class="m-t-0">
                    @Model.Title
                </h1>
            }
            @if (!string.IsNullOrEmpty(Model.Body)) {
                @Html.Raw(Model.Body)
            }
        </div>
    </div>
}