@model SocialModel
<ul class="list-inline social-wrapper text-md-right">
    @if (!string.IsNullOrEmpty(Model.FacebookLink))
    {
        <li class="facebook"><a href="@Model.FacebookLink" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a></li>
    }
    @if (!string.IsNullOrEmpty(Model.TwitterLink))
    {
        <li class="twitter"><a href="@Model.TwitterLink" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
    }
    @if (!string.IsNullOrEmpty(Model.YoutubeLink))
    {
        <li class="youtube"><a href="@Model.YoutubeLink" target="_blank" rel="noopener noreferrer"><i class="fab  fa-youtube"></i></a></li>
    }
    @if (!string.IsNullOrEmpty(Model.InstagramLink))
    {
        <li class="instagram"><a href="@Model.InstagramLink" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
    }
</ul>