/* [data-addressid] {
    all: unset;
    box-sizing: border-box;
    flex: 1;
    padding: 1rem;
    background-color: var(--red);
    color: #fff;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    position: relative;
    font-size: 1.5rem;

    & i {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        text-decoration: underline;
    }

    &:hover {
        background-color: var(--dark);
    }
} */

[data-addressid] {
    all: unset;
    box-sizing: border-box;
    flex: 1;
    padding: 1rem;
    background-color: transparent;
    color: var(--dark);
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    position: relative;
    font-size: 1.5rem;
    border: 2px solid var(--dark);
    border-radius: 6px;

    & i {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        text-decoration: underline;
    }

    &:hover {
        color: #fff;
        background-color: var(--red);
    }
}

[data-shipping="true"], [data-billing="true"] {
    color: #fff;
    background-color: var(--dark);
}

[data-btn] {
    all: unset;
    width: 100%;
    box-sizing: border-box;
    color: var(--red);
    border: 2px solid var(--red);
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 3rem;
    transition: all .3s ease-in-out;
    text-align: center;
    margin-bottom: 2rem;

    &:hover {
        background-color: var(--dark);
        color: #fff;
    }
}

[data-primary-address] {
    flex: 1;

    aside {
        font-size: 2rem;
        text-align: center;
    }
}

[data-shipping-address] {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: var(--red);

    i {
        padding: 1rem;
        cursor: pointer;
        font-size: 2rem;
    }
}

dialog[data-new-address] {
    --height: clamp(50px, 10vh, 100px);
    border: none;
    width: clamp(500px, 40vw, 1000px);
    height: 75vh;
    padding: 0;
    border-radius: 6px;
    outline: none;

    header {
        display: flex;
        position: sticky;
        top: 0;
        justify-content: space-evenly;
        background-color: var(--red);
        color: #fff;
        height: var(--height);
        align-content: center;
        z-index: 1;
        font-size: 3rem;
        align-items: center;
        text-align: center;

        :nth-child(odd) {
            flex: 1;
        }

        aside {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            font-size: 5rem;

            cite {
                font-size: 1.1rem;
            }
        }
    }

    main {
        padding: 2rem;
        overflow: auto;
        height: calc(100% - var(--height));
    }

    footer {
        position: sticky;
        bottom: 0;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    input[type="button"] {
        border: none;
        border-radius: 6px;
        color: #fff;
        padding: 1rem 2rem;
        background-color: var(--red);
        min-width: 100px;
    }

}

::backdrop {
    background-color: #3c3c3cc2;
}

.address-add-actions {
    background-color: var(--red);
    position: sticky;
    bottom: 1rem;
    padding: 1rem;
    border-radius: 6px;
    color: #fff;
    width: 85px;
    margin-left: auto;
    cursor: pointer;
}

[data-address-list] {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 1rem;
}

#form-fns-simplecheckout .simple-checkout-data-left {
    padding-top: 0;

    .background {
        display: flex;
        align-items: center;
        background-color: var(--red);
    }

    h3 {
        flex: 1;
    }

    a {
        color: #fff;
        padding: 0 1rem;
        font-size: 2.7rem;
    }
}